{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
{% include 'sidebar.html' %}
<div id="wrapper">
  <section>
    <h3 class="node_header"> {{ node }} </h3>

    <p class="sensor_header">ACI</p>
    <div id="aci_values"></div>
    <div id="container_aci" class="chart_container"></div>

    <p class="sensor_header">Temperature</p>
    <div id="temp_values"></div>
    <div id="container_temp" class="chart_container" ></div>

    <p class="sensor_header">Humidity</p>
    <div id="humidity_values"></div>
    <div id="container_humidity" class="chart_container"></div>

    <p class="sensor_header">Air Pressure</p>
    <div id="pressure_values"></div>
    <div id="container_pressure" class="chart_container"></div>

    <p class="sensor_header">Light Level</p>
    <div id="light_values"></div>
    <div id="container_light" class="chart_container"></div>
  </section>
</div>
{% endblock %}
{% block extrajs %}
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script>
  buildchart({{ node_id }})
</script>
{% endblock %}
