{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
{% include 'sidebar.html' %}
<div id="wrapper">
    <section>
      <h3>How it works</h3>
      <p class="text">
        The aim of the project is to collect data from microcontrollers (end nodes) which have several sensors such as ACI, Temperature,
        Humidity, Air pressure, Light Level. The boards are connected to each other via Zigbee Wireless Technology and one of them is
        connected to a base station. The base station acts as a bridge and coordinator between Wireless Sensor Network and Internet, which
        has WiFi module. In addition, it is easier to communicatie with one gateway rather than with all end nodes. </br></br>The station collects
        the data from nodes and converts it to suitable format before transfering it to a webserver through internet. The webserver has API
        to communicate with the base station and 3rd party services. It is implemented with HTTP POST and GET messages, if the station wants
        to send data it uses POST method, otherwise uses GET method. Moreover, to provide basic level of security webserver API requires authentication
        and authorization before any negotiation. The webserver stores the data in PosgreSQL database and builds visual graphics from this data.
        The topology of the project is given in below diagram.
      </p>
      <div id = "topology"><img src = "{% static 'images/general/topology.jpg' %}" alt="topology"></div>
      <p class="text">
      Google Map shows locations of each node. Click on the node to see the latest value of each sensor!
      </p>
      <div id="map"></div>
    </section>
  </div>
{% endblock %}
{% block extrajs %}
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script>
  //source: http://www.aspsnippets.com/Articles/Google-Maps-API-V3-Add-multiple-markers-with-InfoWindow-to-Google-Map.aspx
    $.get("/nodes/gps_json/", function( data ) {
      var markers = [
        {
         "title": 'Node1',
         "lat": data[0].gps_latitude,
         "lng": data[0].gps_longitude,
         "values": data[0].values
        },
        {
         "title": 'Node2',
         "lat": data[1].gps_latitude,
         "lng": data[1].gps_longitude,
         "values": data[1].values
        },
        {
         "title": 'Node3',
         "lat": data[2].gps_latitude,
         "lng": data[2].gps_longitude,
         "values": data[2].values
        },
        {
         "title": 'Node4',
         "lat": data[3].gps_latitude,
         "lng": data[3].gps_longitude,
         "values": data[3].values
        }
      ];
      window.onload = function LoadMap () {
        var mapOptions = {
          center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
          zoom: 13,
           //mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

           //Create and open InfoWindow.
        var infoWindow = new google.maps.InfoWindow();

        for (var i = 0; i < markers.length; i++) {
          var data = markers[i];
          var myLatlng = new google.maps.LatLng(data.lat, data.lng);
          var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: data.title
          }); //end of Marker
               //Attach click event to the marker.
          (function (marker, data) {
            google.maps.event.addListener(marker, "click", function () {
                 //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
            infoWindow.setContent('<div id="map_infowindow">' +
                          '<h3>' + data.title + '</h3>' +
                          '<ul>' +
                            '<li>' + '<span>' + "temp_max: " + '</span>' + data.values.temp_max + '</li>'+
                            '<li>' + '<span>' + "temp_min: " + '</span>' + data.values.temp_min + '</li>'+
                            '<li>' + '<span>' + "temp_avg: " + '</span>' + data.values.temp_avg.toFixed(2) + '</li>'+
                          '</ul>' +
                          '<ul>' +
                            '<li>' + '<span>' + "humidity_max: " + '</span>' + data.values.humidity_max + '</li>'+
                            '<li>' + '<span>' + "humidity_min: " + '</span>' + data.values.humidity_min + '</li>'+
                            '<li>' + '<span>' + "humidity_avg: " + '</span>' + data.values.humidity_avg.toFixed(2) + '</li>'+
                          '</ul>' +
                          '<ul>' +
                            '<li>' + '<span>' + "pressure_max: " + '</span>' + data.values.pressure_max + '</li>'+
                            '<li>' + '<span>' + "pressure_min: " + '</span>' + data.values.pressure_min + '</li>'+
                            '<li>' + '<span>' + "pressure_avg: " + '</span>' + data.values.pressure_avg.toFixed(2) + '</li>'+
                          '</ul>' +
                          '</div>');
            infoWindow.open(map, marker);
            }); // end of addListener
          })(marker, data);
        }; //end of for loop
      }; //end of LoadMap function
    }); //end of .get function
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCReYIp7WAseEM_zZfqaL5WMgh8v1TAZho">
  </script>
{% endblock %}
